@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
}

html * {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

body {
  height: 100%;
  min-width: 320px;
  font-size: 16px;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-weight: 400;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

textarea {
  resize: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

._container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: calc(5px + 10 * ((100vw - 320px) / 1600));
  padding-right: calc(5px + 10 * ((100vw - 320px) / 1600));
}

.header {
  background-color: none;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(45px + 15 * ((100vw - 320px) / 1600));
}

.header__logo {
  position: relative;
  height: 19px;
  width: 80px;
}

.header__logo img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}

.header__body {
  background: rgba(248, 248, 248, 0.95);
  position: absolute;
  height: 100vh;
  width: 600px;
  right: -100%;
  z-index: -1;
  top: 0;
  overflow: auto;
}

.header__body.active {
  right: 0;
}

.header__wrapper {
  position: relative;
  padding: 50px 0px 50px 50px;
  margin: 20px;
}

.header__wrapper::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0.5px;
  height: 100%;
  background: #000;
  margin: 50px 1.25px 100px 0px;
}

.header__text {
  padding: 0px 40px 0px 0px;
  margin: 15px 0px 0px 0px;
  position: relative;
}

.header__text:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #000;
}

.header__text p {
  font-size: 10px;
  font-weight: 200;
  line-height: 15px;
}

.header__burger {
  display: block;
  position: relative;
  background: none;
  z-index: 200;
  height: 15px;
  width: 40px;
}

.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 1px;
  right: 0;
}

.header__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 80%;
  top: 7px;
  right: 0;
}

.header__burger::before {
  width: 100%;
  top: 0;
}

.header__burger::after {
  width: 60%;
  bottom: 0;
}

.header__burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.header__burger.active::before {
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 50%;
  top: 8px;
}

.header__burger.active::after {
  background-color: #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 6px;
  width: 50%;
}

._title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
}

.main {
  color: #fff;
}

.main__container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100vh;
}

.main__title {
  font-size: calc(30px + 20 * ((100vw - 320px) / (1230 - 320)));
  font-weight: 900;
  line-height: 59px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.25em;
  margin: 300px 0px 0px 0px;
  text-shadow: 0px 0px 15px black;
}

.main__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}

.main__map-title {
  position: relative;
  margin-left: 20px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  opacity: 0;
}

.main__map-title:before {
  position: absolute;
  content: "";
  top: 8px;
  left: -20px;
  width: 12px;
  height: 2px;
  background-color: #fff;
}

.main__map-title._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.main__map-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 30px 0px 0px 0px;
}

.main__map-items:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  margin-bottom: 2.5px;
  background-color: #fff;
}

.main__map-item {
  margin: 0 40px;
  position: relative;
  padding-bottom: 25px;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  -webkit-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
  opacity: 0;
}

.main__map-item:after {
  background-color: #fff;
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.main__map-item:nth-child(1) {
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.main__map-item:nth-child(2) {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.main__map-item:nth-child(3) {
  -webkit-transition: all 1.3s ease 0s;
  -o-transition: all 1.3s ease 0s;
  transition: all 1.3s ease 0s;
}

.main__map-item._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.main__info {
  max-width: 250px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  opacity: 0;
}

.main__info._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.main__info-title {
  position: relative;
}

.main__info-title:before {
  content: "";
  top: 8px;
  left: -20px;
  width: 12px;
  height: 2px;
  position: absolute;
  background-color: #fff;
}

.main__info-date {
  margin: 12px 0px 20px 0px;
  display: inline-block;
  color: #cbcbcb;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.05em;
}

.main__info-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.05em;
}

.main__connect {
  width: 200px;
}

.main__connect-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  opacity: 0;
}

.main__connect-title:before {
  content: "";
  top: 8px;
  left: -20px;
  width: 12px;
  height: 2px;
  position: absolute;
  background-color: #fff;
}

.main__connect-title._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.main__connect-num {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  margin: 10px 0px 50px 0px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  opacity: 0;
}

.main__connect-num._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.main__connect-btn {
  display: block;
  text-align: center;
  border: 0.5px solid #fff;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2em;
  padding: 20px 30px;
  background: rgba(245, 245, 245, 0.11);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
  opacity: 0;
}

.main__connect-btn:hover {
  background: none;
}

.main__connect-btn._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

@media (min-width: 1440px) {
  .header__burger {
    position: absolute;
    right: 10px;
    top: 20px;
  }
}

@media (max-width: 991.98px) {
  .main__info {
    display: none;
  }

  .main__info-text {
    margin: 20px 0;
    font-weight: 300;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .main__connect-btn {
    display: none;
  }
}

@media (max-width: 700px) {
  .main__connect {
    display: none;
  }

  .main__connect-num {
    letter-spacing: 0.1em;
    -webkit-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%);
  }
}

@media (max-width: 606px) {
  .header__body {
    width: 100%;
  }
}

@media (max-width: 442px) {
  .main__map-item {
    margin: 0 20px;
  }
}

@media (max-height: 616px) {
  .main__title {
    margin: 150px 0px 0px 0px;
  }
}

@media (max-height: 424px) {
  .main__title {
    margin: 100px 0px 0px 0px;
  }
}

.webp .content{ background-image: url(../img/bg.webp); }